*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
body{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
       'header header header'
       'left meteo right'
      'left section right'
      'left article right'
      'footer footer footer';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    background-color: #658faf;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
header{
    grid-area: header;
    height: 85px; width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #2c2c2c;
}
/***********LOGO V***********/
.bg-gif-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-gif {
    width: 50%;
    height: 50%; 
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 50px;
}
/**********************/
.logoImage{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 90px;
    height: 80px;
    border-radius: 50%;
}
/* ************ */
nav{
    display: flex;
    justify-content: center;
}
.meteo{
    margin-top: 20px;
    grid-area: meteo;
    position: relative;
}
.btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    display:inline-block;
  }

/******DROP BUTTON******/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,.btn:hover {
    background-color: #658faf;
}

/* Conteneur du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Liens dans le menu déroulant */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Montrer le menu déroulant au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

 /**********/

.logo a {
    color: #fff;
    padding: 4px 20px;
    border: 3px solid #fff;
    position: absolute;
    top: 13px;
    left: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0, 7);
    font-size: large;
}

.logo span {
    color:  #658faf;
    font-weight: bold;
    font-size: xx-large;
}

h1{
    font-weight: bold;
    font-size: xx-large;
    color: black;
    padding-top: 8px;
    text-align: center;
}

a:hover{
    color:  #658faf;
}
section{
    grid-area: section;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 40vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.consult{
    background-color: rgba(255, 255, 255, 0.2); 
    border: 2px solid rgba(255, 255, 255, 0.5); 
    color: white; 
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 20px; 
    backdrop-filter: blur(5px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;
    width: auto;
    height: 40px;
}
.consult:hover{
    background-color: rgba(255, 255, 255, 0.4); 
    color: black;
}
 .button{
    width: 100%;
    background-color:  rgb(65, 126, 126);
    color: white;
    padding: 6px;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
} 

input[type="text"],[type="date"],[type="submit"],select {
    background-color: whitesmoke;
    width: 100%;
    padding: 8px;
    border: 1px solid #afadad;
    border-radius: 4px;
  }
/* ::placeholder{
    color: white;
} */

.right{
    grid-area: right;
    padding: 10px;
    text-align: center;
}
.left{
    grid-area: left;
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

article {
    color: white;
    grid-area: article;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: auto;
}

footer .legal, footer .contact, footer .social-media {
    display: flex;
    gap: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

fieldset{
    box-sizing: border-box;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    border-style: solide 2px;
    border-color:  #ffffff7c;
    border-radius: 8px;
    height: 100%;
}
legend{
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 0 4px;
    font-size: larger;
}
.block1{
    width: 100%; 
    padding-top:8px ;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

.block2{
    width: 100%;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    justify-content: space-around;
    
}

.box1, .box2, .box3{
    flex: 1;
    border: 4px solide black;
    height: 100%;  
    padding: 10px;
}
.label1, .label2, .label3, .label4, .submit{
    color: white;
    flex: 50%;
    padding: 8px;
    font-size: large;
}

#imgS{
    width: 100%;
    height: auto;
}