*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
body{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
       'header header header'
       'left meteo right'
      'left section right'
      'left article right'
      'footer footer footer';
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    /* background-image: url('../images/Bleu_pic.png'); */
    background-color: #658faf;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
header{
    grid-area: header;
    height: 85px; width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #2c2c2c;
}
/***********LOGO V***********/
/* .bg-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
} */
/*************FIN**************/

.bg-gif-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-gif {
    width: 50%; /* Ajustez le pourcentage ou utilisez une valeur fixe, par exemple 500px */
    height: 50%; /* Maintient le ratio d'aspect */
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 50px;
}
/**********************/
.logoImage{
    position: absolute;
    top: 4px;
    right: 4px;
    width: 90px;
    height: 80px;
    border-radius: 50%;
}
/* ************ */
nav{
    display: flex;
    justify-content: center;
}
.meteo{
    grid-area: meteo;
    position: relative;
}
.btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    display:inline-block;
  }
.consult{
    background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond blanche avec transparence */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Bordure blanche semi-transparente */
    color: white; /* Couleur du texte */
    padding: 10px 25px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    border-radius: 20px; /* Coins arrondis */
    backdrop-filter: blur(5px); /* Floutage d'arrière-plan pour un effet de verre dépoli */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: background-color 0.3s ease, color 0.3s ease;
}
.consult:hover{
    background-color: rgba(255, 255, 255, 0.4); 
    color: black;
}
/******DROP BUTTON******/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,.btn:hover {
    background-color: #658faf;
}

/* Conteneur du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Liens dans le menu déroulant */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Montrer le menu déroulant au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

 /**********/

.logo a {
    color: #fff;
    padding: 4px 20px;
    border: 3px solid #fff;
    position: absolute;
    top: 13px;
    left: 13px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0, 7);
    font-size: large;
}

.logo span {
    color:  #658faf;
    font-weight: bold;
    font-size: xx-large;
}

h1{
    font-weight: bold;
    font-size: xx-large;
    color: black;
    padding-top: 8px;
    text-align: center;
}

a:hover{
    color:  #658faf;
}
section{
    grid-area: section;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* .button{
    width: 100%;
    background-color:  rgb(65, 126, 126);
    color: white;
    padding: 6px;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
} 
*/

/* .styled-button {
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer;
    border: none;
    border-radius: 8px; 
    box-shadow: 0 4px #999;
  }
 .styled-button:hover{
    background-color:  #658faf ;
 }
  .styled-button:active {
    background-color:  #527692;
    box-shadow: 0 2px #666; 
    transform: translateY(2px);
  }
  
input[type="text"],[type="date"],[type="submit"],select {
    background-color: whitesmoke;
    width: 100%;
    padding: 8px;
    border: 1px solid #afadad;
    border-radius: 4px;
  } */
/* ::placeholder{
    color: white;
} */

.right{
    grid-area: right;
    padding: 10px;
    text-align: center;
}
.left{
    grid-area: left;
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

article {
    color: white;
    grid-area: article;
    padding: 10px;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: auto;
}

footer .legal, footer .contact, footer .social-media {
    display: flex;
    gap: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
}