body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #7aaace;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    min-height: 90vh;
}
/***********LOGO**********************/
.logo{
    padding:10px;
}
.logo a {
    color: #fff;
    padding: 2px 20px;
    border: 3px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0, 7);
    font-size: large;
}

.logo span {
    color:  #7aaace;
    font-weight: bold;
    font-size: xx-large;
}

.logo a:hover{
    color:  #7aaace;
}
/******************************/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stat {
    text-align: center;
}

.stat h3 {
    margin-top: 0;
}
/***************************************/
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    border-right: 1px solid #ccc;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar nav ul li {
    width: 100%;
}

.sidebar nav ul li a , .sidebar nav ul li .logout-button{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: background 0.3s;
    box-sizing: border-box;
}

.sidebar nav ul li a .fa, .sidebar nav ul li .logout-button .fa {
    margin-right: 10px;
}

.sidebar nav ul li a:hover , .sidebar nav ul li .logout-button:hover{
    /* background-color: #658faf; */
    background-color: #7aaace;
}
/****************LOGOUT-BUTTON**************/
.nav-link.logout-button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-link.logout-button i {
    margin-right: 10px;
}

.nav-link.logout-button:hover {
    background-color:#bdd1e0;
}
/********************************/
.content-admin {
    flex-grow: 1;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-body {
    padding: 15px;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    /* margin-right: 5px; */
}
.btn-sm{
    justify-content: end;
}
.btn-primary {
    background-color:  black;
    color: #fff;
}

.btn-warning {
    background-color: green;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}