body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}
/***********LOGO**********************/
.logo{
    padding:10px;
}
.logo a {
    color: #fff;
    padding: 2px 20px;
    border: 3px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0, 7);
    font-size: large;
}

.logo span {
    color:  #658faf;
    font-weight: bold;
    font-size: xx-large;
}

a:hover{
    color:  #658faf;
}
/******************************/
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stat {
    text-align: center;
}

.stat h3 {
    margin-top: 0;
}
/***************************************/
.sidebar {
    width: 250px;
    background-color: #527692;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    border-right: 1px solid #ccc;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar nav ul li {
    width: 100%;
}

.sidebar nav ul li a , .sidebar nav ul li .logout-button{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: background 0.3s;
    box-sizing: border-box;
}

.sidebar nav ul li a .fa, .sidebar nav ul li .logout-button .fa {
    margin-right: 10px;
}

.sidebar nav ul li a:hover , .sidebar nav ul li .logout-button:hover{
    background-color: #658faf;
}

.content-respo {
    flex-grow: 1;
    padding: 20px;
}
/* 
.logout-form{

} */

#form-section, #main-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#form-section h2, #main-content h1, #main-content h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #009688;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #00796B;
}

.actions a, .actions button {
    margin-right: 10px;
}